<div class="card">
    <div class="card-heading border bottom">
        <h4 class="card-title">Billing</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <button
                    class="btn btn-outline-primary btn-block"
                    (click)="addInvoice()"
                >
                    Add Invoice
                </button>
            </div>
            <div class="col-sm-12 col-md-6">
                <button
                    class="btn btn-outline-success btn-block"
                    (click)="addPayment()"
                >
                    Add Payment
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-heading border bottom">
        <h4 class="card-title">Students</h4>
    </div>
    <div class="card-body">
        <app-student></app-student>
    </div>
</div>
