<div class="wrapper">
    <div class="card content">
        <img class="logo" src="/assets/images/logo/large.png" />
        <div class="quote">
            "The air up there in the clouds is very pure and fine, bracing and
            delicious. And why shouldn't it be?--it is the same the angels
            breathe." - Mark Twain
        </div>
        <div class="contact">
            Andrew Craner<br />andy@pilotandy.com<br />435.753.7834
        </div>
        <a href="/dashboard/">Get Started!</a>
    </div>
</div>
