<div class="header navbar">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a
                    class="side-nav-toggle"
                    (click)="toggleSideNavCollapse()"
                    href="javascript:void(0);"
                >
                    <i class="ti-view-grid"></i>
                </a>
            </li>
        </ul>
        <ul class="nav-right" *ngIf="user && user.id > 0">
            <li class="user-profile dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img
                        class="profile-img img-fluid"
                        [src]="user.data.image | safeUrl"
                    />
                    <div class="user-info">
                        <span class="name pdd-right-5">{{
                            user.firstname + ' ' + user.lastname
                        }}</span>
                        <i class="ti-angle-down font-size-10"></i>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="" [routerLink]="['/profile']">
                            <i class="ti-user pdd-right-10"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="" [routerLink]="['/dashboard/logout']">
                            <i class="ti-power-off pdd-right-10"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="notifications dropdown">
                <span
                    *ngIf="notifications && notifications.length > 0"
                    class="counter"
                    >{{ notifications.length }}</span
                >
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-bell"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="notice-header">
                        <i class="ti-bell pdd-right-10"></i>
                        <span>Notifications</span>
                    </li>
                    <ul class="list-info overflow-y-auto relative scrollable">
                        <li *ngFor="let n of notifications">
                            <a
                                href=""
                                [routerLink]="[
                                    '/dashboard/notification/' + n.id
                                ]"
                            >
                                <div class="info">
                                    <span class="title">
                                        <div class="font-size-14 text-semibold">
                                            {{ n.title }}
                                        </div>
                                        <span class="text-gray">{{
                                            n.text
                                        }}</span>
                                    </span>
                                    <span class="sub-title">{{
                                        n.date.fromNow()
                                    }}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <li class="notice-footer">
                        <span>
                            <a
                                href=""
                                [routerLink]="['/dashboard/notification/']"
                                class="text-gray"
                                >Check all notifications
                                <i
                                    class="ei-right-chevron pdd-left-5 font-size-10"
                                ></i
                            ></a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
