<div class="card">
    <div class="card-heading border bottom">
        <h4 class="card-title">Welcome to PilotAndy Aviation</h4>
    </div>
    <div class="card-body">
        <p>Thank you for signing up with us.</p>
        <p>
            This dashboard is where you'll come to see an overiew of your
            progress through your training. <br />Your instructor will have to
            enroll you into the course. Go ahead and schedule a time to meet
            with him/her. You can schedule a flight at the same time!
        </p>
        <br />
        <h4>Security</h4>
        <p>
            The FAA and TSA require that our flight school helps keep our skies
            safe from those who might not have the bests interests of the public
            in mind.<br />
            Upon beginning flight instruction, you'll need to provide proof of
            U.S. citizenship. There are several ways to do this, any one of the
            following will work:
        </p>
        <ul>
            <li>Valid, unexpired U.S. passport</li>
            <li>
                Original or government-issued birth certificate of the U.S.,
                American Samoa, or Swains Island AND a government-issued picture
                ID
            </li>
            <li>
                Original certificate of birth abroad with raised seal (Form
                FS-545 or DS-1350) AND a government-issued picture ID
            </li>
            <li>
                Original certificate of U.S. citizenship with raised eal (Form
                N-560 or N-561) or a Certificate of Repatriation (Form N-581)
                AND government-issued pictured ID
            </li>
            <li>
                Original U.S. Naturalization Certificate with raised seal (Form
                N-550 or N-570) AND a government-issued picture ID
            </li>
        </ul>
        <br />
        <h4>Logbook</h4>
        <p>
            You will want to purcahse a log book if you don't have one. I
            recommend
            <a
                href="https://www.sportys.com/pilotshop/pilot-s-flight-logbook-and-record.html"
                target="_blank"
                >this one</a
            >. Of course, you can always choose something else, or even go
            paperless with something like foreflight.
        </p>
    </div>
</div>
