<div class="row">
    <div class="col-md-6 offset-md-3" *ngIf="notifications">
        <ul class="list-group">
            <li
                class="list-group-item inverse-danger"
                *ngFor="let n of notifications"
                [routerLink]="['./' + n.id]"
            >
                <span class="float-right sub-title"
                    >{{ n.date | date: 'medium' }}</span
                >
                <span class="title">
                    <i
                        *ngIf="!n.viewed"
                        class="ei-star-full text-warning float-left"
                        >&nbsp;</i
                    >
                    <div class="font-size-14 text-semibold">{{ n.title }}</div>
                    <span class="text-gray">{{ n.text }}</span>
                </span>
            </li>
        </ul>
    </div>
</div>
