<div class="container-fluid" *ngIf="user">
    <div class="page-title">
        <h4>Account Settings</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget-profile-1 card">
                        <div class="profile border bottom">
                            <img
                                class="mrg-top-30 avatar"
                                [src]="user.data.image | safeUrl"
                                alt=""
                            />
                            <h4 class="mrg-top-20 no-mrg-btm text-semibold">
                                {{ user.firstname }} {{ user.lastname }}
                            </h4>
                            <p *ngFor="let group of user.groups">{{ group }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">General Info</h4>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark">
                                        <b>Name</b>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="text"
                                        class="form-control"
                                        [value]="
                                            user.firstname + ' ' + user.lastname
                                        "
                                    />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark">
                                        <b>Email</b>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">
                                        {{ user.email }}
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark">
                                        <b>Avatar</b>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <div class="col-md-3">
                                            <input
                                                type="file"
                                                (change)="onImageUpload($event)"
                                                placeholder="Upload image"
                                                accept=".jpg,.jpeg,.png,"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark">
                                        <b>Phone</b>
                                        10 digits only
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <input
                                            type="text"
                                            class="form-control"
                                            [(ngModel)]="user.data.phone"
                                        />
                                        <div class="input-group-append">
                                            <button
                                                class="btn btn-outline-secondary"
                                                [ngClass]="
                                                    validPhone()
                                                        ? ''
                                                        : 'disabled'
                                                "
                                                (click)="
                                                    validPhone() &&
                                                        onSavePhone()
                                                "
                                                type="button"
                                            >
                                                Save
                                                <app-waiting
                                                    [state]="waiting.phone"
                                                ></app-waiting>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">Notifications</h4>
                        </div>
                        <div class="card-block">
                            <table>
                                <tr>
                                    <th style="width: 100%"></th>
                                    <th>Email</th>
                                    <th>Text</th>
                                </tr>
                                <tr
                                    *ngFor="
                                        let notifyType of notifyTypes;
                                        let i = index
                                    "
                                >
                                    <td>
                                        <div class="info">
                                            <b class="text-dark font-size-16">{{
                                                notifyType.title
                                            }}</b>
                                            <p>
                                                {{ notifyType.description }}
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div
                                            class="toggle-checkbox toggle-success checkbox-inline toggle-sm mrg-top-15"
                                        >
                                            <input
                                                type="checkbox"
                                                name="{{
                                                    notifyType.sid
                                                }}_eml_toggle"
                                                id="{{
                                                    notifyType.sid
                                                }}_eml_toggle"
                                                [checked]="
                                                    user.notifications[
                                                        notifyType.sid
                                                    ] &&
                                                    user.notifications[
                                                        notifyType.sid
                                                    ]['email'] === true
                                                "
                                                (change)="
                                                    onEmailNotifyChange(
                                                        notifyType.sid
                                                    )
                                                "
                                            />
                                            <label
                                                for="{{
                                                    notifyType.sid
                                                }}_eml_toggle"
                                            ></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div
                                            class="toggle-checkbox toggle-success checkbox-inline toggle-sm mrg-top-15"
                                        >
                                            <input
                                                type="checkbox"
                                                name="{{
                                                    notifyType.sid
                                                }}_sms_toggle"
                                                id="{{
                                                    notifyType.sid
                                                }}_sms_toggle"
                                                [checked]="
                                                    user.notifications[
                                                        notifyType.sid
                                                    ] &&
                                                    user.notifications[
                                                        notifyType.sid
                                                    ]['sms'] === true
                                                "
                                                (change)="
                                                    onSMSNotifyChange(
                                                        notifyType.sid
                                                    )
                                                "
                                            />
                                            <label
                                                for="{{
                                                    notifyType.sid
                                                }}_sms_toggle"
                                            ></label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<app-profile-statement *ngIf="user" [user]="user"></app-profile-statement>-->
</div>
