<div class="container-fluid" *ngIf="user">
    <div class="page-title">
        <h4>Account Settings</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget-profile-1 card">
                        <div class="profile border bottom">
                            <img
                                class="mrg-top-30 avatar"
                                [src]="user.data.image | safeUrl"
                                alt=""
                            />
                            <h4 class="mrg-top-20 no-mrg-btm text-semibold">
                                {{ user.firstname }} {{ user.lastname }}
                            </h4>
                            <p *ngFor="let group of user.groups">{{ group }}</p>
                        </div>
                        <!-- <div class="pdd-horizon-30 pdd-vertical-20">
                            <h5 class="text-semibold mrg-btm-5">About</h5>
                            <p>
                                It looks like Sandpeople did this, all right.
                                Look, here are Gaffi sticks, Bantha tracks. It's
                                just...I never heard of them.
                            </p>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">General Info</h4>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark">
                                        <b>Name</b>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="text"
                                        class="form-control"
                                        [value]="
                                            user.firstname + ' ' + user.lastname
                                        "
                                    />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark">
                                        <b>Email</b>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">
                                        {{ user.email }}
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark">
                                        <b>Avatar</b>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <div class="col-md-3">
                                            <input
                                                type="file"
                                                (change)="onImageUpload($event)"
                                                placeholder="Upload image"
                                                accept=".jpg,.jpeg,.png,"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark">
                                        <b>Phone</b>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <input
                                        type="text"
                                        class="form-control"
                                        (change)="onChangePhone($event)"
                                        [value]="user.data.phone"
                                    />
                                </div>
                            </div>
                            <!-- <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark">
                                        <b>Phone Number</b>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">
                                        New York, United State
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark">
                                        <b>Status</b>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10">
                                        <span
                                            class="status online mrg-top-10"
                                        ></span>
                                        <span class="mrg-left-10"
                                            >Available</span
                                        >
                                    </p>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">Notifications</h4>
                        </div>
                        <div class="card-block">
                            <table>
                                <tr>
                                    <th style="width: 100%"></th>
                                    <th>Email</th>
                                    <th>Text</th>
                                </tr>
                                <tr
                                    *ngFor="
                                        let notifyType of notifyTypes;
                                        let i = index
                                    "
                                >
                                    <td>
                                        <div class="info">
                                            <b class="text-dark font-size-16">{{
                                                notifyType.title
                                            }}</b>
                                            <p>
                                                {{ notifyType.description }}
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div
                                            class="toggle-checkbox toggle-success checkbox-inline toggle-sm mrg-top-15"
                                        >
                                            <input
                                                type="checkbox"
                                                name="{{
                                                    notifyType.sid
                                                }}_eml_toggle"
                                                id="{{
                                                    notifyType.sid
                                                }}_eml_toggle"
                                                [checked]="
                                                    user.notifications[
                                                        notifyType.sid
                                                    ] &&
                                                    user.notifications[
                                                        notifyType.sid
                                                    ]['email'] === true
                                                "
                                                (change)="
                                                    onEmailNotifyChange(
                                                        notifyType.sid
                                                    )
                                                "
                                            />
                                            <label
                                                for="{{
                                                    notifyType.sid
                                                }}_eml_toggle"
                                            ></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div
                                            class="toggle-checkbox toggle-success checkbox-inline toggle-sm mrg-top-15"
                                        >
                                            <input
                                                type="checkbox"
                                                name="{{
                                                    notifyType.sid
                                                }}_sms_toggle"
                                                id="{{
                                                    notifyType.sid
                                                }}_sms_toggle"
                                                [checked]="
                                                    user.notifications[
                                                        notifyType.sid
                                                    ] &&
                                                    user.notifications[
                                                        notifyType.sid
                                                    ]['sms'] === true
                                                "
                                                (change)="
                                                    onSMSNotifyChange(
                                                        notifyType.sid
                                                    )
                                                "
                                            />
                                            <label
                                                for="{{
                                                    notifyType.sid
                                                }}_sms_toggle"
                                            ></label>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <!-- <div
                                class="row"
                                *ngFor="
                                    let notifyType of notifyTypes;
                                    let i = index
                                "
                            >
                                <div class="col-xs-10">
                                    <div class="info">
                                        <b class="text-dark font-size-16">{{
                                            notifyType.title
                                        }}</b>
                                        <p>
                                            {{ notifyType.description }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-2 text-right"></div>
                                <div class="col-xs-2 text-right"></div>
                            </div> -->
                            <!-- <hr />
                            <div class="row">
                                <div class="col-md-10">
                                    <ul class="list-unstyled list-info">
                                        <li>
                                            <span class="thumb-img pdd-top-10">
                                                <i
                                                    class="ti-mobile font-size-30"
                                                ></i>
                                            </span>
                                            <div class="info">
                                                <b
                                                    class="text-dark font-size-16"
                                                    >Everyone can contact me</b
                                                >
                                                <p>
                                                    When we heard about
                                                    Alderaan, we were afraid
                                                    that you were
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-2 text-right">
                                    <div
                                        class="toggle-checkbox toggle-success checkbox-inline toggle-sm mrg-top-15"
                                    >
                                        <input
                                            type="checkbox"
                                            name="toggle2"
                                            id="toggle2"
                                        />
                                        <label for="toggle2"></label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-10">
                                    <ul class="list-unstyled list-info">
                                        <li>
                                            <span class="thumb-img pdd-top-10">
                                                <i
                                                    class="ti-location-pin font-size-30"
                                                ></i>
                                            </span>
                                            <div class="info">
                                                <b
                                                    class="text-dark font-size-16"
                                                    >Show my location</b
                                                >
                                                <p>
                                                    I said, all systems have
                                                    been alerted to your
                                                    presence, sir.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-2 text-right">
                                    <div
                                        class="toggle-checkbox toggle-success checkbox-inline toggle-sm mrg-top-15"
                                    >
                                        <input
                                            type="checkbox"
                                            name="toggle3"
                                            id="toggle3"
                                            checked
                                        />
                                        <label for="toggle3"></label>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <app-profile-statement *ngIf="user" [user]="user"></app-profile-statement>-->
</div>
