<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div *ngFor="let group of user.groups">
                <app-dashboard-cfi
                    [user]="user"
                    [users]="users"
                    *ngIf="group === 'Flight Instructor'"
                ></app-dashboard-cfi>
                <app-dashboard-ppl
                    [user]="user"
                    *ngIf="group === 'Private Pilot'"
                ></app-dashboard-ppl>
            </div>
            <div *ngIf="user.groups.length === 0">
                <app-dashboard-welcome></app-dashboard-welcome>
            </div>
        </div>
        <div class="col-md-4">
            <app-upcoming [max]="5"></app-upcoming>
            <app-activity [max]="5"></app-activity>
            <app-account [max]="5"></app-account>
        </div>
    </div>
</div>
