<div #gmap class="full-pane"></div>
<!--
<div class="container">
    <div class="row">
        <input
            id="sidebar-toggle-input"
            name="sidebar-toggle-input"
            class="sidebar-toggle-input"
            type="checkbox"
        />
        <div class="col side-bar pt-3">
            <label for="sidebar-toggle-input" class="sidebar-toggle"
                ><i class="fas fa-fw fa-lg"></i
            ></label>

            <input
                #searchBox
                type="text"
                class="search py-1 px-3 mb-3"
                placeholder="Search"
            />

            <ul class="list-group mb-3">
                <li
                    *ngFor="let map of baseMaps"
                    class="list-group-item list-group-item-action py-1 px-3"
                    (click)="onMapTypeSelect(map)"
                    [ngClass]="{ active: map.selected }"
                >
                    {{ map.displayName }}
                </li>
            </ul>

            <ul class="list-group mb-3">
                <li
                    class="list-group-item list-group-item-action py-1 px-3"
                    (click)="onShowNavLog()"
                >
                    Navigation Log
                </li>
            </ul>
        </div>
        <div class="col full-height m-0 p-0"></div>
    </div>
</div>
-->
