<div class="card">
    <div class="card-heading border bottom">
        <h4 class="card-title">
            Account
            <a
                *ngIf="max"
                class="lnr lnr-expand expand-button"
                [routerLink]="['account']"
            ></a>
            <a
                *ngIf="!max"
                class="lnr lnr-contract expand-button"
                (click)="goBack()"
            ></a>
            <span
                class="float-right"
                [ngClass]="balance > 0 ? 'text-danger':'text-success'"
                >{{balance | currency}} &nbsp;&nbsp;</span
            >
        </h4>
    </div>
    <div class="card-body">
        <ul class="list-unstyled list-info">
            <li
                *ngFor="let account of accounts | slice:0:getMax();"
                class="pdd-vertical-10 pdd-horizon-20"
            >
                <div class="date">
                    <div class="day">{{account.date | date: 'd'}}</div>
                    <div class="mon">{{account.date | date: 'MMM'}}</div>
                </div>
                <div class="info">
                    <a
                        href=""
                        class="title no-pdd-vertical text-semibold inline-block"
                        ><span>{{ account.title }}</span></a
                    >
                    <span class="sub-title">
                        <span>{{account.amount| currency}}</span>
                    </span>
                </div>
            </li>
            <li *ngIf="accounts.length === 0">No recent activity.</li>
        </ul>
    </div>
</div>
