<div class="card">
    <div class="card-heading border bottom">
        <h4 class="card-title">
            <span>Account</span>
            <a
                *ngIf="max"
                class="lnr lnr-expand expand-button"
                [routerLink]="['account']"
            ></a>

            <a
                *ngIf="!max"
                class="lnr lnr-contract expand-button"
                (click)="goBack()"
            ></a>
        </h4>
    </div>

    <div class="card-body">
        <div class="overview">
            Balance:
            <span [ngClass]="balance > 0 ? 'text-danger':'text-success'"
                >{{balance | currency}} &nbsp;&nbsp;</span
            >
            <div
                class="btn btn-sm btn-outline-success payment"
                (click)="onMakePayment()"
            >
                <i class="icon lnr lnr-credit-card"></i>
                <span class="title">Make a Payment</span>
            </div>
        </div>
        <div class="overview" *ngIf="!max">
            <div class="row">
                <div class="col-4 col-md-3 order-1">Statement:</div>
                <div class="col-12 col-md-6 order-3 order-md-2">
                    <div class="statement-date">
                        Start Date:
                        <app-datepicker
                            [date]="statementStart"
                            (changed)="onStartChanged($event)"
                        ></app-datepicker>
                    </div>
                    <div class="statement-date">
                        End Date:
                        <app-datepicker
                            [date]="statementEnd"
                            (changed)="onEndChanged($event)"
                        ></app-datepicker>
                    </div>
                </div>

                <div class="col-8 col-md-3 order-2">
                    <div
                        class="btn btn-sm btn-outline-primary statement"
                        (click)="genStatement()"
                    >
                        <i class="icon lnr lnr-printer"></i>
                        <span class="title">View / Print</span>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-unstyled list-info">
            <li
                *ngFor="let account of accounts | slice:0:getMax();"
                class="pdd-vertical-10 pdd-horizon-20"
            >
                <div class="date">
                    <div class="day">{{account.date | date: 'd'}}</div>
                    <div class="mon">{{account.date | date: 'MMM'}}</div>
                </div>
                <div class="info">
                    <a
                        href=""
                        class="title no-pdd-vertical text-semibold inline-block"
                        ><span>{{ account.title }}</span></a
                    >
                    <span class="sub-title">
                        <span>{{account.amount| currency}}</span>
                    </span>
                </div>
            </li>
            <li *ngIf="accounts.length === 0">No recent activity.</li>
        </ul>
    </div>
</div>
